# Environnements virtuels
.venv/
venv/
ENV/

# Fichiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers de configuration VS Code / IDE
.vscode/
.idea/

# Fichiers d'environnement et secrets
.env

# Fichiers système
.DS_Store
Thumbs.db

#Fichier spécifique
history/historique.txt